{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <div class="success-message"></div>
            <h1>Success!</h1>
            <p>Record deleted successfully!</p>            
            <a href="{% url 'home' %}" class="button">Back to Home</a>
        </div>
    </div>
</body>
</html>
