{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Kamaraj College of Engineering and Technology</h1>
        <h2>Web Applications using Django Framework</h2>
        <p>Janavarshini G, B.TECH IT-B</p>
        <h3>Connecting Database using SQLite</h3>
        <a href="{% url 'createtab' %}" class="button">Create Record</a>
        <a href="{% url 'readtab' %}" class="button">Read Records</a>
        <a href="{% url 'readtab' %}" class="button">Update Records</a>
        <a href="{% url 'delete_confirmation' %}" class="button">Delete Record</a> <!-- Delete button -->
    </div>
    </div>
</body>
</html>
