{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="container">
        <h1>Success!</h1>
        <div class="success-message">
            {{ success_message }} <!-- Display the success message -->
            <a href="{% url 'home' %}" class="button">Back to Home</a>
        </div>
        <!--<a href="{% url 'createtab' %}" class="button">Create Another Record</a>
        <a href="{% url 'readtab' %}" class="button">View Records</a>-->
    </div>
</body>
</html>
